.forms{
    background-color: rgb(119, 255, 153);
}
#btn{
    background-color: crimson;
    border-radius: 15px;
    height: 1cm;
    width: 3cm;
    margin-left: 47%;
}
#btn:hover{
    background-color: chartreuse;
}
.stock-det{
    background-color: rgb(154, 255, 171);
    border-style:outset;
}
