<div class="con1">
    <div class="card">

        <div class="top">
            <div class="head">
                Order No 1
            </div>
            <div class="details">
                <p> details: <br> date of order: dd-mm-yyyy<br> Address: address of order</p>
            </div>
        </div>
        
        
        <div class="items">
            <app-orders-itemcard></app-orders-itemcard>
            <app-orders-itemcard></app-orders-itemcard>
            <app-orders-itemcard></app-orders-itemcard>
            <app-orders-itemcard></app-orders-itemcard>
            <app-orders-itemcard></app-orders-itemcard>
        </div>
        
    </div>
</div>