<div class="con1">
    <div class="card">
        <div class="content">
            <div class="head">
                Order summary
            </div>
            <div class="entry">
                <p>Item 1 orange</p>
                <p>quantity</p>
                <p>₹50</p>
            </div>
            <div class="entry">
                <p>Item 1 orange</p>
                <p>quantity</p>
                <p>₹50</p>
            </div>
            <div class="entry">
                <p>Item 1 orange</p>
                <p>quantity</p>
                <p>₹50</p>
            </div>
            <hr>
            <div class="sum">
                Discount<span class="p">₹50</span>
            </div>
            <div class="sum">
                Total to be paid:<span class="p">₹50</span>
            </div>
        </div>
    </div>
    <div class="button">
        <button>Back</button>
    </div>
</div>