<div class="con1">
    <div class="card">
        <div class="content">
            <div class="head">
                Order summary
            </div>
            <app-cart-confirm-details></app-cart-confirm-details>
            <app-cart-confirm-details></app-cart-confirm-details>
            <app-cart-confirm-details></app-cart-confirm-details>
            <app-cart-confirm-details></app-cart-confirm-details>
            <hr>
            <div class="sum">
                Discount<span class="p">₹50</span>
            </div>
            <div class="sum">
                Total to be paid:<span class="p">₹50</span>
            </div>
        </div>
    </div>
    <div class="button">
        <button>Back</button>
    </div>
</div>