<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="content">
    <div class="img">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MKU93_VW_34FR+watch-41-alum-starlight-nc-8s_VW_34FR_WF_CO_GEO_IN?wid=700&hei=700&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1632171039000%2C1661978672671">
    </div>
    <div class="txt">
        <h3>Starlight Aluminium Case with Sport Band</h3>
        <div>
            <p class="about">The aluminium case is lightweight and made from 100 per cent recycled aerospace-grade alloy.The Sport Band is made from a durable yet surprisingly soft high-performance fluoroelastomer, with an innovative pin-and-tuck closure.</p>                
        </div>
        
    </div>
    <div class="details">
        <h4>Rs.0000</h4>
        <div>
            <select>
                <option value="1">1</option>;
                <option value="2">2</option>;
                <option value="3">3</option>;
                <option value="4">4</option>;
                <option value="5">5</option>;
                <option value="6">6</option>;
                <option value="7">7</option>;
                <option value="8">8</option>;
                <option value="9">9</option>;
                <option value="10">10</option>;
            </select>
            Quantity
        </div>
        <button class="cart">Add to Cart</button>
    </div>
</div>
