<div class="con1">
    <div class="quesfaq">
      <h5>Does returning the orders accepted?</h5>
        <p>Returning the received products isn't appreciated. As the product is already quality checked and approved by farmicio side.</p>
    </div>
    <div class="quesfaq">
      <h5>Can an order be cancelled?</h5>
      <p>Yes, unless the order isn't dispatched from seller that order can be cancelled.</p>
    </div>
  
    <div class="quesfaq">
      <h5>How to know my order status?</h5>
      <p>In "My Orders" section confirmation and current status of order can be viewed here.</p>
    </div>
    
      <div class="quesfaq"><h5>Can we have a sample before buying product?
      </h5>
        <p>The products can be bought in small quantites,<b>Not for free</b></p>
      </div>
      <div class="quesfaq"><h5>Does COD accepted?
      </h5>
        <p>Yes, Cash On Delivery is accepted with no limit restrain.</p>
      </div>
      <div class="quesfaq"><h5>Doest the stocks undergo quality checks?
      </h5>
        <p>Yes, the stocks undergo quality checks beforehand of dispatching from farmer by food technology experts.</p>
      </div>
      <div class="quesfaq"><h5>Can a order from another city placed?
      </h5>
        <p>It depends, if there's no farmer near you is linked to us or the nearby farmers are out of stock it can be possible.</p>
      </div>
      <div class="quesfaq"><h5>What makes farmicio a better option than usual processflow?
      </h5>
        <p>We deliver Quality products(own quality checks) at the least price possible as the intermediaries are avoided in this process.</p>
      </div>
     
      
  </div>