<app-navbar></app-navbar>
<div class="main">
    <div class="receive" (click)="onClick()">
        <img src="./../../../assets/images/receive.png">
        <p id="tit"><a href="#" routerLink="/receive">Received Order</a></p>
        <p id="desc"> Click here to check the orders you need to prepare and send</p>
    </div>
    <div class="update" (click)="onClick()">
        <img src="./../../../assets/images/vegetables-1430407-removebg-preview.png">
        <p id="tit"><a href="#">Update Your Stock</a></p>
        <p id="desc"> Click here to Update Your Stock available and ready to sell</p>
    </div>
</div>
<app-footer></app-footer>