<div class="con1">
    <div class="title">
        <h2>Categories</h2>
    </div>
    <div class="category">
        <app-categorycard title= "category-1" link="./../../../assets/images/orange-removebg-preview.png"></app-categorycard>
        <app-categorycard title= "category-2" link="./../../../assets/images/orange-removebg-preview.png"></app-categorycard>
        <app-categorycard title= "category-3" link="./../../../assets/images/orange-removebg-preview.png"></app-categorycard>
        <app-categorycard title= "category-4" link="./../../../assets/images/orange-removebg-preview.png"></app-categorycard>
        <app-categorycard title= "category-5" link="./../../../assets/images/orange-removebg-preview.png"></app-categorycard>

    </div>
</div>
