<app-navbar1></app-navbar1>
<div class="con">
        <div class="hero-section">
            <h2>Join the Conversation</h2>
            <p>Connect with people who understand what you're going through.</p>
            <a href="#" class="cta-button">Get Started</a>
        </div>

        <div class="features-section">
            <div class="feature">
                <img src="./../../../assets/images/feature-1.png" alt="Feature 1">
                <h3>24/7 Support</h3>
                <p>Our chat app is available whenever you need it, day or night.</p>
            </div>
            <div class="feature">
                <img src="./../../../assets/images/feature-2.png" alt="Feature 2">
                <h3>Anonymous Chatting</h3>
                <p>Your privacy is important to us. Our chat app lets you remain anonymous.</p>
            </div>
            <div class="feature">
                <img src="./../../../assets/images/feature-3.png" alt="Feature 3" style="border-radius: 50%; height: 200px; width: 200px; padding: 20px;">
                <h3>Personalized Profiles</h3>
                <p>Create a personalized profile to connect with others who share your interests and experiences.</p>
            </div>
        </div>
    </div>