<app-navbar></app-navbar>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<div class="head" style="text-align: center;font-size: 30px; font-family: baron;">
    About FARMICIO
</div>
<div class="part1" style="width: 60%; text-align: center; display: flex; justify-content: center; flex-direction: row;">
    <p> The farmicio website is web application for farmers and vendors to ensure the unbiased, profitable exchange of goods or stocks
        and money. farmicio will enable and perform the medium for these two groups can get profit. as we know nowadays most of the farmers
        are paid with biased low prices for their goods and stocks. So to avoid the chain of mediators between the farmers and vendors
        farmicio is helping them. we use geo-location based farmer-vendor tie-up where the vendor can get tied-up with the nearby farmers 
        within the vendor shop in range(between 5-10km radius). so another issue in recent days are that old stocks are being sold to vendors 
        since the vendor haven't bought the fresh stocks when it is yielded or the chain of mediators may take time to pass the stocks to
        the vendors. so when the farmicio with geo-location technique can find the nearby farmer for vendor and make sure stocks are fresh.
         Also the old stock are also taken for considerable price for either usable or dumping based on its quality.</p>
</div>
<app-contactcard></app-contactcard>
</div>
<app-footer></app-footer>