<div class="con1">
    <div class="title">
        <h2>Offers Just for you</h2>
        <h3><a href="#">See more</a></h3>
    </div>
    <div class="offers">
        <app-offercard code="Code: CODEXXX" title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, maiores!" link="./../../../assets/images/apple-removebg-preview.png"></app-offercard>
        <app-offercard code="Code: CODEXXX" title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, maiores!" link="./../../../assets/images/apple-removebg-preview.png"></app-offercard>
        <app-offercard code="Code: CODEXXX" title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, maiores! " link="./../../../assets/images/apple-removebg-preview.png"></app-offercard>
    </div>
</div>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, maiores!